<!doctype html>

{% load staticfiles %}

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'css.bootstrap.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'polls/home.css' %}"/>
		<title>Home</title>
	</head>
	<body>
		<div class="wrapper">
			<div id="header">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  					<div class="container">
  						<ul>
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'home' %}">About</a></li>
							<li><a href="{% url 'home' %}">Blog</a></li>
							<li><a href="{% url 'home' %}">Contact</a></li>
						</ul>
						<p>Self Presentation<p>
  					</div>
				</nav>
			</div>
		<hr />	
			<div>	
				<h1>POLLS</h1>
				<div class="poll"><a href="{% url 'polls:index' %}">Vote for Polls</a></div>
			</div>
			<div class="para">
				<p id="content">
				The outcome of Django Poll tutorial at <a href="https://docs.djangoproject.com">Django Website.</a> 
				</p>
			</div>		
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		</div>
		<div id="footer">
			<p id="foot">Copyright my ass (c) 2014</p>
		</div>
	</body>
</html>