<!DOCTYPE html>
{% load static %}

<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'polls/index.css' %}"/>
	<title>INDEX</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1>I'm the Fuckn'n Header</h1>
		</div>
		<div>	
			<h2>List of Polls Available</h2>
			{% if latest_poll_list %}
				<ul>
				{% for poll in latest_poll_list %}
			<!--	link the polls to the choices using django 
					template tag more of a dynamic setup and uses
					then namespace url-->
			<!--	<li><a href="/polls/{{ poll.id }}/">{{ poll.
					question }}</a></li> -->
					<li><a href="{% url 'polls:detail' poll.id %}"><div>{{ poll.question }}</div></a></li>
					<p>{{ poll.pub_date }}</p>
					<p>{{ poll.body }}</p>
				{% endfor %}
				</ul>
			{% else %}
				<p>No polls are available. Why no Polls?</p>
			{% endif %}
		</div>
	</div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>


	