<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'polls/index.css' %}"/>
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1>I'm the Fuckn'n Header</h1>
		</div>
		<div>	
			<h2>List of Polls Available</h2>
			{% block content %}
				{% if latest_poll_list %}
					<ul>
					{% for poll in latest_poll_list %}
						<li><a href="{% url 'polls:detail' poll.id %}"><div>{{ poll.question }}</div></a></li>
						<p>{{ poll.pub_date }}</p>
						<p>{{ poll.body }}</p>
					{% endfor %}{% csrf_token %}
					</ul>
				{% else %}
					<p>No polls are available. Why no Polls?</p>
				{% endif %}
			{% endblock %}
		</div>
	</div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>


	