<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'polls/loggedin.css' %}"/>
	<title>Loggedin</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1>I'm the fuck'n header!</h1>
		</div>
		<div>
			<h4>Hi {{ full_name }} you are now logged in!</h4>
			<p>click <a href="{% url 'polls:logout' %}">here</a>to log out..</p>	
		</div>
	</div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
