* {
	margin: 0;
}

html, body {
	height: 100%;
}

li {
	display: inline-block;
	margin-bottom: 8px;
	font-size: 20px;
	margin-left: 6px;
	margin-right: 6px;
}

ul{
	text-align: center;
}

a {
	text-decoration: none;
}

h1 {
	margin-bottom: 25px;
	margin-left: 10px;
	display: inline-block;
}

.poll {
	margin-bottom: 30px;
	margin-left: 10px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
}

.header {
	background-color: #C0C0C0;
	margin-bottom: 0px;

}

#footer {
	position: relative;
	background-color: #000000;
	margin-bottom: 0px;
	margin-top: -50px;
	padding: 5px;
}

#foot {
	color: #ffffff;
	text-align: center;
}

.para {
	margin-top: 80px;
	display: block;
}

#content {
	text-align: left;
	margin-left: 10px;
}

.login {
	text-align: right;
	margin-right: 25px;
	text-decoration: none;
}

.p1 {
	text-align: center;
}

.display {
	display: inline-block;
}