* {
	margin: 0;
}

html, body {
	height: 100%;
}

li {
	display: inline-block;
	margin-bottom: 8px;
	font-size: 20px;
	margin-left: 6px;
	margin-right: 6px;
}

ul{
	text-align: center;
}

p {
	text-align: center;

}

a {
	text-decoration: none;
}

h1 {
	margin-bottom: 25px;
	margin-left: 10px;
}

.poll {
	margin-bottom: 30px;
	margin-left: 10px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
}

.navbar-fixed-top {

}

.container {

}

#header {
	background-color: #C0C0C0;

}

#footer {
	position: relative;
	background-color: #000000;
	margin-bottom: 0px;
	margin-top: -28px;
	padding: 5px;
}

#foot {
	color: #ffffff;
}

.para {
	margin-top: 80px;
}

#content {
	text-align: left;
	margin-left: 10px;
}