}
html , body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
}

.header {
	background-color: blue;
	text-align: center;
}

li {
	display: inline-block;
}

h1 {
	margin-top: 0px;
}

h2 {
	margin-left: 10px;
}